/**
 * Checklist jQuery plugin stylesheet
 * @author   Albert Hilazo
 *
 * @link     https://github.com/albhilazo/checklist
 * @link     http://jsfiddle.net/albhilazo/anby8wnw
 */

/* Color palette
 *   inactive border:   #c8c8c8
 *   inactive color:    #646464
 *   active border:     #0693be
 *   active background: #0693be
 *   active color:      #ffffff
 *   hover background:  #339dbd
 */

.checklist {
    display: inline-block;
    position: relative;
    width: 100%;
    height: auto;
    line-height: 16px;

    color: #646464;
    border: 1px solid #c8c8c8;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;

    font-family: Verdana, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: normal;
    text-decoration: none;
    cursor: default;

    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    }

.checklist.clclick:hover {
    color: #005580;
    background-color: #d9edf7;
    -webkit-border-radius: 3px;
       -moz-border-radius: 3px;
        -ms-border-radius: 3px;
         -o-border-radius: 3px;
            border-radius: 3px;
    }

.checklist:hover,
.checklist.clclick.clactive {
    color: #fff;
    background-color: #0693be;
    border: 1px solid #0693be;
    -webkit-border-radius: 3px 3px 0 0;
       -moz-border-radius: 3px 3px 0 0;
        -ms-border-radius: 3px 3px 0 0;
         -o-border-radius: 3px 3px 0 0;
            border-radius: 3px 3px 0 0;
    }


/* Label */
.checklist > .checklist-label-wrapper {
    position: relative;
    padding-left: 10px;
    padding-right: 15px;
    height: 16px;
    }

.checklist .checklist-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    }


/* List */
.checklist > .list {
    display: none;
    position: absolute;
    margin: -1px 0 0 -1px;
    padding: 5px 0 5px 0;
    min-width: 100%;
    max-height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 200;

    list-style-type: none;

    color: #fff;
    background-color: #0693be;
    border: 1px solid #0693be;
    -webkit-border-radius: 0 3px 3px 3px;
       -moz-border-radius: 0 3px 3px 3px;
        -ms-border-radius: 0 3px 3px 3px;
         -o-border-radius: 0 3px 3px 3px;
            border-radius: 0 3px 3px 3px;
    }

.checklist:not(.clclick):hover > .list,
.checklist.clclick.clactive > .list {
    display:block;
    }


.checklist > .list > li {
    white-space: nowrap;
    }

.checklist > .list > li > * {
    display: block;
    padding-left: 6px;
    padding-right: 10px;
    }

.checklist > .list > li > *:hover {
    background-color: #339dbd;
    }

.checklist > .list > li > *,
.checklist > .list > li > label > input {
    width: inherit;
    cursor: pointer;
    /* Align with label */
    vertical-align: bottom;
    margin-top: 3px;
    margin-bottom: 1px;
    }


/* Override link style */
.checklist > .list > li > a {
    color: #fff;
    text-decoration: none;
}


/* CheckAll icon */
span.checklist-checkall-icon {
    display: none;
    position: absolute;
    top: 0px;
    right: 15px;
    padding-left: 8px;
    padding-right: 8px;

    font-family: Verdana, Tahoma, sans-serif;
    font-size: 11px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    }

span.checklist-checkall-icon:after {
    content: "\2713";
    }

.checklist.checklist-checkall:not(.clclick):hover span.checklist-checkall-icon,
.checklist.checklist-checkall.clclick.clactive    span.checklist-checkall-icon {
    display: block;
    }

.checklist.checklist-checkall:not(.clclick):hover .checklist-label-wrapper,
.checklist.checklist-checkall.clclick.clactive    .checklist-label-wrapper {
    padding-right: 34px;
    }


/* Dropdown arrow */
.checklist>.checklist-label-wrapper:after {
    content:'';
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -3px;
    margin-right: -3px;
    width: 0;
    height: 0;

    border: 4px solid transparent;
    border-top-color: #000;
    }

.checklist:not(.clclick):hover > .checklist-label-wrapper:after,
.checklist.clclick.clactive    > .checklist-label-wrapper:after {
    border-top-color: #fff;
    }
